{% include 'head' %}
{% include 'header' %}
<main>
  <h1>Blog</h1>
  {% for post in posts %}
  <article>
    <h2><a href="/blog/{{ post.slug }}/">{{ post.frontmatter.title }}</a></h2>
    <time datetime="{{ post.date }}">{{ post.date }}</time>
    <p>{{ post.frontmatter.description }}</p>
  </article>
  {% endfor %}
  {% if posts == empty %}
  <p>No posts yet.</p>
  {% endif %}
</main>
{% include 'footer' %}
